<div class="login-component" *ngIf="!(contaService.currentUser$ | async)">
    <div class="container" id="container" [ngClass]="{'active': isActive}">
        <div class="form-container sign-up">
            <form [formGroup]="formGroupRegistro">
                <h1>Registrar</h1>
                <div class="input-container">
                    <input type="text" id="nome" pInputText name="nome" placeholder="Nome Completo"
                        formControlName="nome">
                    <input type="text" id="emailRegistro" pInputText name="email" placeholder="E-mail"
                        formControlName="email">
                    <p-password id="senhaRegistro" [feedback]="false" [toggleMask]="true" placeholder="Digite a senha"
                        formControlName="senha">
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                        </ng-template>
                    </p-password>
                </div>
                <div class="small-container">
                    <small [ngClass]="{'text-ok': senhaContemMinuscula()}">* Ao menos uma letra minúscula </small>
                    <small [ngClass]="{'text-ok': senhaContemMaiscula()}">* Ao menos uma letra maiúscula </small>
                    <small [ngClass]="{'text-ok': senhaContemNumero()}">* Ao menos um número </small>
                    <small [ngClass]="{'text-ok': senhaTemMinimoSeisCaracteres()}">* Mínimo de 6 caracteres </small>
                </div>
                <button>Cadastrar</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <h1>Entrar</h1>
                <input type="text" id="email" pInputText name="email" placeholder="E-mail" [(ngModel)]="model.username">
                <p-password name="password" [feedback]="false" [toggleMask]="true" placeholder="Digite a senha"
                    [(ngModel)]="model.password"></p-password>
                <a href="#">Esqueceu sua senha?</a>
                <button (click)="login()">Entrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem vindo de volta!</h1>
                    <p>Entre com seu e-mail e senha cadastrados para acessar todas as funcionalidades do site</p>
                    <button class="hidden" id="login" (click)="toggleActive(false)">Entrar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Quer saber mais?</h1>
                    <p>Registre-se com seus dados pessoais para utilizar todas as funcionalidades do site</p>
                    <button class="hidden" id="register" (click)="toggleActive(true)">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>